<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
      <script src="vue.js"></script>
      <style media="screen">
         input{
            width:200px;
            height:30px;
         }
      </style>
   </head>
   <body>
      <div id="app">
         <input type="text" v-model="n1">

         <select v-model="opt">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
         </select>

         <input type="text" v-model="n2">

         <input type="button" value="=" @click="calc">

         <input type="text" v-model="result">
      </div>
   </body>
</html>
<script type="text/javascript">
   new Vue({
      el : "#app",
      data : {
         n1 : 0,
         n2 : 0,
         result : 0,
         opt : '+'
      },
      methods : {
         calc : function(){
            switch (this.opt) {
               case '+':
               this.result = parseInt(this.n1) + parseInt(this.n2);
                  break;
               case '-':
               this.result = parseInt(this.n1) - parseInt(this.n2);
                  break;
               case '*':
               this.result = parseInt(this.n1) * parseInt(this.n2);
                  break;
               case '/':
               this.result = parseInt(this.n1) / parseInt(this.n2);
                  break;
            }
         }
      }
   })
</script>
